**/.env
.env.*
!.env.example
docs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
venv/
env/

# IDE
.idea/
.vscode/
*.swp

# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
**/Properties/launchSettings.json
packages.lock.json